{% extends "base.html" %}

{% block title %} <title>{{ title }}</title> {% endblock title %}

{% block main_content %}
    <div class="container">
    <h2 class="display-3 text-center pb-4">Всі рейси</h2>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.previous_page_number}}">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page=1">1</a></li>
                    {% if page_obj.previous_page_number > 1 %}
                        <li class="page-item text-primary"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link disabled" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li class="page-item text-primary"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.next_page_number}}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
        <table class="table table-bordered table-stripped">
            <thead>
                <tr class="text-center align-middle">
                    <th scope="col">#</th>
                    <th scope="col">Рейс</th>
                    <th scope="col">Авіакомпанія</th>
                    <th scope="col"><i class="bi bi-arrow-up-right-circle"></i> Країна відбуття</th>
                    <th scope="col">Місто відбуття</th>
                    <th scope="col"><i class="bi bi-arrow-down-right-circle"></i> Країна прибуття</th>
                    <th scope="col">Місто прибуття</th>
                    <th scope="col">Літак</th>
                    <th scope="col">Час відправлення</th>
                    <th scope="col">Час прибуття</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <th scope="row">{% if is_pagianted %}{{ forloop.counter0|add:page_obj.start_index }}{% else %}{{ forloop.counter }}{% endif %}</th>
                    <td><a href="{% url "flight_detail" flight.pk %}">{{ flight }}</a></td>
                    <td>{{flight.airplane.airline.name}}</td>
                    <td><i class="{{ flight.departure_airport.country.flag_css }}"></i> {{flight.departure_airport.country.name}}</td>
                    <td>{{flight.departure_airport.city}}</td>
                    <td><i class="{{ flight.arrival_airport.country.flag_css }}"></i> {{flight.arrival_airport.country.name}}</td>
                    <td>{{flight.arrival_airport.city}}</td>
                    <td>{{flight.airplane}}</td>
                    <td class="text-center">{{flight.departure_date}}</td>
                    <td class="text-center">{{flight.arrival_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.previous_page_number}}">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page=1">1</a></li>
                    {% if page_obj.previous_page_number > 1 %}
                        <li class="page-item text-primary"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
                    {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link disabled" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                        <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
                        <li class="page-item text-primary"><a class="page-link" href="#">...</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
                    <li class="page-item"><a class="page-link" href="{% url 'flights' %}?page={{page_obj.next_page_number}}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    </div>
{% endblock main_content %}