{% extends "base.html" %}

{% block title %} <title>Квитанція #{{payment.pk}}</title> {% endblock title %}

{% block main_content %}
    <div calss="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="card bg-secondary text-light mb-5 col-4" style="width: 36rem;">
                <div class="card-header text-center display-5">Квитанція #{{payment.pk}}</div>
                <div class="card-body container">
                    <div class="row">
                        <div class="card-text col-6">За:</div>
                        <div class="card-text col">{{payment.booking}}</div>
                    </div>
                    <div class="row">
                        <div class="card-text col-6">Сплачена сума:</div>
                        <div class="card-text col">{{payment.ammount_paid}}₴</div>
                    </div>
                    <div class="row">
                        <div class="card-text col-6">Дата та час транзакції:</div>
                        <div class="card-text col"> {{payment.payment_date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
{% endblock main_content %}